.scrollbar::-webkit-scrollbar {
    width: 4px;
    cursor: pointer;
    /*background-color: rgba(229, 231, 235, var(--bg-opacity));*/

}
.scrollbar::-webkit-scrollbar-track {
    background-color: rgba(229, 231, 235, var(--bg-opacity));
    cursor: pointer;
    /*background: red;*/
}
.scrollbar::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background-color: #9aabc0;
    /*outline: 1px solid slategrey;*/
}
@media (max-width: 767px) {

    .rex{
        flex: 1 1 100%;
    }
    .dex {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 30px 25px;
        border: 0px;
        order: 1;
    }
}